@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #02a58f;
}

.main_title {
    font-size: 2rem;
    text-align: center;
    color: #fff;
}

.components {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form_section {
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.form_section h2 {
    font-size: 2rem;
    color: #fff;
}

.input {
    height: 2.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 1rem;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #02a58f;
}

.input::-webkit-input-placeholder {
    color: #02a58f;
}

.search_button {
    height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    width: fit-content;
    padding: .5rem 1rem .5rem 1rem;
    padding-bottom: 1.5rem;
    margin-bottom: .5rem;
    border: 2px solid #fff;
    background-color: #02a58f;
    color: #fff;
    font-weight: 700;
    border-radius: .5rem;
    transition: .5s;
}

.search_button:hover {
    background-color: #fff;
    color: #02a58f;
}

.search_button:active {
    background-color: #02a58f;
    color: #fff;
}

.message {
    color: red;
}

.hide {
    display: none;
}

.country_card {
    box-shadow: 1px 1px 10px;
    width: 40vw;
    background-color: #fff  ;
    border-radius: 2rem;
}

.country_image {
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.country_data {
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-direction: column;
}

.country_name{
    font-size: 2rem;
    margin-top: 2%;
    margin-bottom: 0;
}

.country_region {
    margin: 0;
    margin-bottom: 5%;
    color: rgb(107, 107, 107);
}

.country_data p {
    margin: 0;
    margin-bottom: 2%;
}

.country_data p span{
    margin: 0;
    margin-bottom: 2%;    
    color: rgb(70, 70, 70);
}

@media (max-width: 900px) {
    .form_section {
        width: 32.5vw;
    }

    .country_card {
        width: 42.5vw;
    }
}


@media (max-width: 768px) {
    .components {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5vh;
    }   
    
    .form_section {
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
    }

    .country_card {
        width: 70vw;
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

@media (max-width: 650px) {
    .components {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5vh;
    }   
    
    .form_section {
        width: 55vw;
        margin-left: 25vw;
        margin-right: 27.5vw;
    }

    .country_card {
        width: 70vw;
        margin-left: 15vw;
        margin-right: 15vw;
    } 
}

@media (max-width: 550px) {
    .components {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5vh;
    }   
    
    .form_section {
        width: 70vw;
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .country_card {
        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
    } 
}
